<div class="container">

  <header>
    <h1>
      Welcome <span><a title="Edit your profile" routerLink="./edit">{{curClient}}<i class="fa fa-pencil"></i></a> </span>
    </h1>
  </header>
  <section>
    <div class="col">
      <a routerLink="./Clients"><i class="fa fa-users"></i> </a>
      <h2>Manage Clients</h2>
    </div>
    <div class="col">
      <a routerLink="./loan"><i class="fa fa-plus"></i></a>
      <h2>New Loan</h2>
    </div>
    <div class="col">
      <a href=""><i class="fa fa-wrench"></i></a>
      
      <h2>Settings</h2>
    </div>
  
  </section>
</div>